<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sudal.home.domain.user.mapper.UserMapper">
    <!--아이디 중복 검사-->
    <select id="idCheck">
        select count(userId)
        from user
        where userId = #{userId}
    </select>

    <!--회원가입-->
    <insert id="joinUser" parameterType="UserDto">
        insert into user (userId, userName, userPass, userEmail)
        values (#{userId}, #{userName}, #{userPass}, #{userEmail})
    </insert>

    <!--User 생성 시 token테이블에 데이터 추가-->
    <insert id="addUser">
        insert into usertoken (userIdx)
        values (#{userIdx})
    </insert>

    <!--로그인-->
    <select id="validateUserInfo" parameterType="UserLoginDto" resultType="UserDto">
		select userId, userName, userPass, userEmail
		from user
		where userId = #{userId} and userPass = #{userPass}
	</select>

    <!--토큰 저장-->
    <update id="saveToken" parameterType="TokenDto">
        update usertoken set token = #{token}
        where userIdx = #{userIdx}
    </update>


    <!--회원 정보 수정-->
    <update id="edit" parameterType="userModifyDto">
        update user set userName = #{userName}, userPass = #{userPass}, userEmail = #{userEmail}
        where userIdx = #{userIdx}
    </update>

    <!--회원 정보 조회-->
    <select id="getUserInfo" parameterType="Integer" resultType="UserDto">
        select *
        from user
        where userIdx = #{useIdx}
    </select>

    <!--토큰으로 유저 인덱스 가져오기-->
    <select id="getUserIdxByToken" parameterType="String" resultType="Integer">
        select userIdx
        from usertoken
        where token = #{token}
    </select>

    <!-- userId로 회원 정보 조회 -->
    <select id="getUserInfoById" parameterType="String" resultType="UserDto">
        select *
        from user
        where userId = #{useId}
    </select>

    <!-- userId로 회원 정보 조회 -->
    <select id="getUserInfoByIdx" parameterType="Integer" resultType="UserDto">
        select *
        from user
        where userIdx = #{useIdx}
    </select>


</mapper>