<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sudal.home.domain.user.mapper.UserMapper">
    <!--아이디 중복 검사-->
    <select id="idCheck">
        select count(userId)
        from user
        where userId = #{userId}
    </select>

    <!--회원가입-->
    <insert id="joinUser" >
        insert into user (userId, userName, userPass, userEmail)
        values (#{userId}, #{userName}, #{userPass}, #{userEmail})
    </insert>

    <!--로그인-->
    <select id="loginUser" parameterType="String" resultType="UserDto">
		select userId, userName, userPass, userEmail
		from user
		where userId = #{userId} and userPass = #{userPass}
	</select>

    <!--회원 정보 수정-->
    <update id="edit" parameterType="UserDto">
        update user set userName = #{userName},
                        userPass = #{userPass}, userEmail = #{userEmail}
        where userId = #{userId}
    </update>

    <!--회원 정보 조회-->
    <select id="getUserInfo" resultType="UserDto">
        select *
        from user
        where userId = #{useId}
    </select>
</mapper>